<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Игры</title>
</head>
<body>
      <h1>Игры</h1>
      <ul>
          <li>{{game1}}</li>
          <a href="/platform/cart"><button>Купить</button></a>
          <li>{{game2}}</li>
          <a href="/platform/cart"><button>Купить</button></a>
          <li>{{game3}}</li>
          <a href="/platform/cart"><button>Купить</button></a>
      </ul>
      <a href="/platform"><button>Вернуться обратно</button></a>
</body>
</html>